.image-holder {
  width: 90%;
  height: 90%;
  min-height: 100px;
  min-width: 100px;
  
  border-radius: 1rem;
  border: 1px rgb(207, 205, 205) solid;
}

.button-margin-right {
  margin-right: 20px;
}
