<form class="container"[formGroup]="userForm">
  <div class="row">
    <div
      class="mb-xs-5 col-sm-12 col-lg-6 p-0 d-flex justify-content-center align-items-center"
    >
      <div
        class="image-holder d-flex justify-content-center align-items-center"
      >
        <mat-icon>add_photo_alternate</mat-icon>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6 d-flex flex-column p-0 mt-sm-5 mt-xs-5">
      <mat-form-field class="example-full-width">
        <mat-label>Imię</mat-label>
        <input matInput  formControlName="name"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="surname"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Stanowisko</mat-label>
        <input matInput formControlName="position"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Uprawnienia</mat-label>
        <mat-select formControlName="entitlements" multiple (selectionChange)="onSelectionChange($event)">
          <mat-option *ngFor="let entitlement of entitlements" [value]="entitlement.value">
            {{ entitlement.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
  </div>

  <div class="row my-5">
    <div class="p-0 col-sm-12 col-lg-6 d-flex">
      <button
        class="button-margin-right"
        mat-raised-button
        color="primary"
        type="button"
        (click)="onUserAction(userActionEnum.CREATE)"
      >
        Zapisz
      </button>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="onUserAction(userActionEnum.DELETE)"
      >
        Usuń
      </button>
    </div>
  </div>
</form>

