<mat-toolbar color="primary">

  <button mat-icon-button class="example-icon" aria-label="menu icon button">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="tool-bar-text">Panel zarządzania użytkownikami</span>
  <span class="example-spacer"></span>

  <div>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Button that displays a tooltip user name when focused or hovered over"
      matTooltip="Bronisław"
    >
      <mat-icon>account_circle</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="logout icon button"
      matTooltip="Log out"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
    
  </div>

</mat-toolbar>
